include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc
			
				//- banner modulos
				div#banner
			
				//- menu
				+menu
				
				//- lineamientos
				div.lineamientos
					div.title 
						h1.titles_home Módulo 0
					div.content
						p Los Objetivos de Desarrollo Sostenible son un compromiso a nivel mundial que busca terminar con lo que empezó el mundo con los Objetivos de Desarrollo del Milenio y abordar nuevos problemas urgentes.
						div
							a.blue-btn(href="https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=499608&chapterid=10862") Justificación &rsaquo;
							a.blue-btn(href="https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=499608&chapterid=10863") Historia de la ODS &rsaquo;
							a.blue-btn(href="https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=499608&chapterid=10926") Cronograma de actividades sincrónicas &rsaquo;
				
				
				//- contenidos box
				div.contenidos-box
					div.title 
						h1.titles_home Contenidos	
					div.content
						p.italic A continuación encontrará los diferentes módulos que se trabajarán en la Cátedra Abierta Objetivos De Desarrollo Sostenible. Los módulos se habilitarán cuando llegue la fecha correspondiente.
						
				//- grid modulos
				div.modulos
					div.titulos
						h1.titles_home Módulo 1
						h3.subtitles_home Personas 
							span | Agosto 6
							
					div.content
						div
							img.timeit(data-start="2020-08-06 00:00")(src='https://ubosquemoodle.unbosque.edu.co/diseno/cursos/catedra-abierta-2020/images/home/001.jpg' alt='1 fin de la pobreza')
							a.link_home.timeit(data-start="2020-08-06 00:00" href='https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=499620&chapterid=10864')
						div
							img.timeit(data-start="2020-08-06 00:00")(src='https://ubosquemoodle.unbosque.edu.co/diseno/cursos/catedra-abierta-2020/images/home/002.jpg' alt='2 hambre cero')
							a.link_home.timeit(data-start="2020-08-06 00:00" href='https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=499620&chapterid=10865')
						div
							img.timeit(data-start="2020-08-06 00:00")(src='https://ubosquemoodle.unbosque.edu.co/diseno/cursos/catedra-abierta-2020/images/home/003.jpg' alt='3 salud y bienestar')
							a.link_home.timeit(data-start="2020-08-06 00:00" href='https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=499620&chapterid=10866')
						div
							img.timeit(data-start="2020-08-06 00:00")(src='https://ubosquemoodle.unbosque.edu.co/diseno/cursos/catedra-abierta-2020/images/home/004.jpg' alt='4 educación y calidad')
							a.link_home.timeit(data-start="2020-08-06 00:00" href='https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=499620&chapterid=10867')
						div
							img.timeit(data-start="2020-08-06 00:00")(src='https://ubosquemoodle.unbosque.edu.co/diseno/cursos/catedra-abierta-2020/images/home/005.jpg' alt='5 igualdad de género')
							a.link_home.timeit(data-start="2020-08-06 00:00" href='https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=499620&chapterid=10868')
							
					div.titulos
						h1.titles_home Módulo 2
						h3.subtitles_home Prosperidad 
							span | Septiembre 10
							
					div.content
						div
							img.timeit(data-start="2020-09-10 00:00")(src='https://ubosquemoodle.unbosque.edu.co/diseno/cursos/catedra-abierta-2020/images/home/006.jpg' alt='6 agua limpia y saneamiento')
							a.link_home.timeit(data-start="2020-09-10 00:00" href='https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=499695&chapterid=10869')
						div
							img.timeit(data-start="2020-09-10 00:00")(src='https://ubosquemoodle.unbosque.edu.co/diseno/cursos/catedra-abierta-2020/images/home/007.jpg' alt='7 energía asequible y no contaminante')
							a.link_home.timeit(data-start="2020-09-10 00:00" href='https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=499695&chapterid=10869')
						div
							img.timeit(data-start="2020-09-10 00:00")(src='https://ubosquemoodle.unbosque.edu.co/diseno/cursos/catedra-abierta-2020/images/home/008.jpg' alt='8 trabajo decente y crecimiento económico')
							a.link_home.timeit(data-start="2020-09-10 00:00" href='https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=499695&chapterid=10870')
						div
							img.timeit(data-start="2020-09-10 00:00")(src='https://ubosquemoodle.unbosque.edu.co/diseno/cursos/catedra-abierta-2020/images/home/009.jpg' alt='9 industria, innovación e infraestructura')
							a.link_home.timeit(data-start="2020-09-10 00:00" href='https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=499695&chapterid=10871')
						div
							img.timeit(data-start="2020-09-10 00:00")(src='https://ubosquemoodle.unbosque.edu.co/diseno/cursos/catedra-abierta-2020/images/home/010.jpg' alt='10 reducción de las desigualdades')
							a.link_home.timeit(data-start="2020-09-10 00:00" href='https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=499695&chapterid=10870')
						div
							img.timeit(data-start="2020-09-10 00:00")(src='https://ubosquemoodle.unbosque.edu.co/diseno/cursos/catedra-abierta-2020/images/home/011.jpg' alt='11 ciudades y comunidades sostenibles')
							a.link_home.timeit(data-start="2020-09-10 00:00" href='https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=499695&chapterid=10871')
							
							
					div.titulos
						h1.titles_home Módulo 3
						h3.subtitles_home Planeta, Paz y Alianzas 
							span | Octubre 1
							
					div.content
						div
							img.timeit(data-start="2020-10-01 00:00")(src='https://ubosquemoodle.unbosque.edu.co/diseno/cursos/catedra-abierta-2020/images/home/012.jpg' alt='12 producción y consumo responsable')
							a.link_home.timeit(data-start="2020-10-01 00:00" href='https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=499704&chapterid=10875')
						div
							img.timeit(data-start="2020-10-01 00:00")(src='https://ubosquemoodle.unbosque.edu.co/diseno/cursos/catedra-abierta-2020/images/home/013.jpg' alt='13 acción por el clima')
							a.link_home.timeit(data-start="2020-10-01 00:00" href='https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=499704&chapterid=10876')
						div
							img.timeit(data-start="2020-10-01 00:00")(src='https://ubosquemoodle.unbosque.edu.co/diseno/cursos/catedra-abierta-2020/images/home/014.jpg' alt='14 vida submarina')
							a.link_home.timeit(data-start="2020-10-01 00:00" href='https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=499704&chapterid=10877')
						div
							img.timeit(data-start="2020-10-01 00:00")(src='https://ubosquemoodle.unbosque.edu.co/diseno/cursos/catedra-abierta-2020/images/home/015.jpg' alt='15 vida de ecosistemas terrestres')
							a.link_home.timeit(data-start="2020-10-01 00:00" href='https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=499704&chapterid=10878')
						div
							img.timeit(data-start="2020-10-01 00:00")(src='https://ubosquemoodle.unbosque.edu.co/diseno/cursos/catedra-abierta-2020/images/home/016.jpg' alt='16 paz, justicia e instituciones sólidas')
							a.link_home.timeit(data-start="2020-10-01 00:00" href='https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=499704&chapterid=10879')
						div
							img.timeit(data-start="2020-10-01 00:00")(src='https://ubosquemoodle.unbosque.edu.co/diseno/cursos/catedra-abierta-2020/images/home/017.jpg' alt='17 alianzas para lograr los objetivos')
							a.link_home.timeit(data-start="2020-10-01 00:00" href='https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=499704&chapterid=10880')
					
				
							
	//- footer section			
	+footer
		
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			