include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			article.content-cc.article
			
				//- banner modulos
				div#banner
			
				//- menu
				+menu
				
				//- ---------------- 
				//- ---------------- Left content
				//- ---------------- 
				div.content-left
					
					div.blocks
						+modulo('Módulo 3', 'Planeta, Paz y Alianzas', 'https://ubosquemoodle.unbosque.edu.co/diseno/cursos/catedra-abierta-2020/images/mod-3/sesion-gustavo.jpg', 'Planeta, Paz y Alianzas', 'Gustavo Yepes - Director PRME Colombia - Docente Universidad Externado de Colombia', 'Director de Gestión y Responsabilidad Social de la Facultad de Administración de Empresas de la Universidad Externado de Colombia. Doctor en Administración de Empresas, Maestría en Administración de Empresas. Autor de varios libros, artículos e investigaciones sobre responsabilidad social y sostenibilidad, transparencia y anticorrupción, consumo y suministro responsable. Actualmente se desempeña como presidente del Capítulo (PRME) del Pacto Mundial de las Naciones Unidas 2015-2017.', 'test-mod-3')
						
						+navegacion('#', 'back', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=499704&chapterid=10876', 'forward')
				
				//- ---------------- 
				//- ---------------- Right content
				//- ---------------- 
				div.content-right
					h1 Novena Sesión: ODS 12 - Producción y consumo responsable
					
					h3 Sesiones en vivo
					
					<div><a class="blue-btn" href="https://bit.ly/35ZynAH" target="_blank">Principal 13/10 17hrs ›</a><a class="blue-btn" href="https://bit.ly/3606V63" target="_blank">Complementaria 15/10 17hrs›</a></div>
					
					p El décimo segundo ODS es Producción y consumo responsable y busca garantizar modalidades de consumo y producción sostenibles. Si bien la prosperidad es importante, es vital que esta esté acompañada por procesos responsables y sostenible. Se estima que para el año 2050 haya 9600 millones de personas en el mundo, de ser así, serían necesarios tres planetas tierra para poder satisfacer las necesidades de sus habitantes. Actualmente, el sector agropecuario es responsable por el consumo del 70% del agua dulce del planeta y se estima que de estos alimentos producidos, un tercio acaba pudriéndose antes de llegar a su destino o en botes de basura por no ser consumidos a tiempo. Este ODS se trata de hacer más y mejor con menos recursos, optimizándolos y asegurándonos de que se produzca y consuma lo estrictamente necesario con materiales sostenibles que tengan el menor impacto posible en el bienestar del planeta y que los desechos generados sean reintroducidos a la cadena de valor de diversas maneras. 
					
					h3 lecturas
					
					p Obligatoria: 
						b Ganancias sostenibles: El nuevo modelo de desarrollo Visión del Estado sobre el ODS 12: Consumo y producción sostenibles. FD Brito - AULA Revista de Humanidades y Ciencias …, 2018 - revistas.unphu.edu.do
						a(href='https://revistas.unphu.edu.do/index.php/AULA/article/view/82' target='_blank') https://revistas.unphu.edu.do/index.php/AULA/article/view/82
						 
					p Opcional:
						b El consumo responsable: Educar para la sostenibilidad ambiental - BN Arias - Aibi revista de investigación, administración e …, 2016 - revistas.udes.edu.co

						a(href='https://revistas.udes.edu.co/aibi/article/view/385' target='_blank') https://revistas.udes.edu.co/aibi/article/view/385
					
					h2 Video ODS 12  | Producción y Consumo Responsables
					
					+modulo-video('https://www.youtube.com/embed/Y2n7xFQWOjo')
						
				
					//- Material modulo
					//- +material-modulo('material-mod-1')
					
	//- footer section			
	+footer
					
				
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			