include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			article.content-cc.article
			
				//- banner modulos
				div#banner
			
				//- menu
				+menu
				
				//- ---------------- 
				//- ---------------- Left content
				//- ---------------- 
				div.content-left
					
					div.blocks
						+modulo('Módulo 3', 'Planeta, Paz y Alianzas', 'https://ubosquemoodle.unbosque.edu.co/diseno/cursos/catedra-abierta-2020/images/mod-3/sesion-german.jpg', 'Planeta, Paz y Alianzas', 'Carolina García Arbelaéz - Gerente Regional de Sostenibilidad para la Zona de Middle Americas - Anheuser-Busch InBev (Bavaria)', 'Es embajadora de One Young World, la conferencia de jóvenes líderes más grande del mundo, y una de las 88 mujeres elegidas por el programa Homeward Bound para un viaje de formación en liderazgo a la Antártida en 2019. Trabajó en WWF por más de tres años en las negociaciones internacionales de cambio climático y en incidencia en política local- Es coautora del libro Cambio climático: lo que está en juego (2015) y de El Acuerdo de París: así actuará Colombia frente al cambio climático, entre otras publicaciones.', 'test-mod-3')
						
						+navegacion('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=499704&chapterid=10875', 'back', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=499704&chapterid=10877', 'forward')
				
				//- ---------------- 
				//- ---------------- Right content
				//- ---------------- 
				div.content-right
					h1 Décima Sesión: ODS 13 – Acción por el clima
					
					h3 Sesiones en vivo
					
					<div><a class="blue-btn" href="https://bit.ly/2Ep036T" target="_blank">Principal 20/10 17hrs ›</a><a class="blue-btn" href="https://bit.ly/32QQV4c" target="_blank">Complementaria 22/10 17hrs›</a></div>
					
					p El décimo tercer ODS es acción por el clima y busca adoptar medidas urgentes para combatir el cambio climático y sus efectos. Si comparamos las emisiones de efecto invernadero actuales con las de 1990, estas son superiores en un 50%. Los efectos de estas emisiones son evidentes en el mundo entero y varían desde el incremento en catástrofes relacionadas con el clima como monzones y sequías hasta el incremento en el nivel del mar. Desde el año 1880, el nivel del mar promedio ha aumentado 20 cm y se estima que en los próximo 80 años incremente hasta 122 cm. Esto podría potencialmente causar la desaparición de estados enteros y tendría efectos nefastos en grandes metrópolis que se encuentran al nivel del mar como Nueva York, Shanghái, Mumbai, Hong Kong, Rio de Janeiro, Buenos Aires, Miami, Vancouver, Londres y Boston. Este alza en el nivel del mar es debido al derretimiento de los glaciares y la única manera de evitarlo es reduciendo las emisiones de efecto invernadero para así reducir la temperatura promedio del planeta y de los mares. Estas acciones no solo prevendrían el alza del nivel del mar, sino que también detendrían la acidificación oceánica que pone en riesgo la vida marina y la seguridad alimentaria del mundo, reducirían las catástrofes climáticas y crearían empleos. Se estima que la transición a la energía renovable generará 18 millones de empleos en el mundo, ayudando a combatir el hambre, la pobreza y la desigualdad. Este ODS tiene un impacto enorme en los otros 16 y depende en gran parte de los cambios de hábitos en la población y en la  movilización política, puesto que los Acuerdo de París del 2015 solo cubren 1/3 de las acciones necesarias para cumplir con las metas de este Objetivo.
					
					h3 lecturas
					
					p Obligatoria: 
						b Cambio climático: lo que está en juego (2015) 
						 
					p Opcional:
						b Los ODS y el Acuerdo de París: Herramientas para coordinar globalmente el desarrollo sostenible M Cortés-Puch - Tiempo de paz, 2016 - revistatiempodepaz.org


						a(href='http://revistatiempodepaz.org/wp-content/uploads/2019/12/TP-120-¿Y-después-de-la-cumbre-de-Par%C3%ADs.pdf#page=33' target='_blank') Ver lectura
					
					h2 Video ODS 13  | Acción por el clima
					
					+modulo-video('https://www.youtube.com/embed/8ea6N2NS-38')
					
					div.recursos
						h3 Ver recursos: 
						ol
							li
								a(href='https://www.undp.org/content/undp/es/home/sustainable-development-goals/goal-13-climate-action.html' target='_blank') https://www.undp.org/content/undp/es/home/sustainable-development-goals/goal-13-climate-action.html
							li
								a(href='https://www.un.org/sustainabledevelopment/es/climate-change-2/' target='_blank') https://www.un.org/sustainabledevelopment/es/climate-change-2/
						
				
					//- Material modulo
					//- +material-modulo('material-mod-1')
					
	//- footer section			
	+footer
					
				
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			