include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			article.content-cc.article
			
				//- banner modulos
				div#banner
			
				//- menu
				+menu
				
				//- ---------------- 
				//- ---------------- Left content
				//- ---------------- 
				div.content-left
					
					div.blocks
						+modulo('Módulo 3', 'Planeta, Paz y Alianzas', '', '', '#test-mod-3')
						
						+navegacion('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=499704&chapterid=10878', 'back', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=499704&chapterid=10880', 'forward')
				
				//- ---------------- 
				//- ---------------- Right content
				//- ---------------- 
				div.content-right
					h1 Décima Tercera Sesión: ODS 16 – Paz, Justicia e Instituciones Sólidas
					
					p El décimo sexto ODS es Paz, Justicia e Instituciones Sólidas s y busca promover sociedades justas, pacíficas e inclusivas. Para finales del año 2017, casi 70 millones de personas fueron forzadas a huir de sus hogares y países natales debido a conflictos armadas o amenazas políticas que atentaba potencialmente contra su vida y su desarrollo. Si bien en algún países la paz es la norma, en otros una guerra eterna pareciera extenderse, dejando a sus habitantes sin oportunidades reales y sin posibilidad de alcanzar el desarrollo sostenible. La falta de gobernanza adecuada y de un Estado de Derecho real donde las instituciones sean sólidas y puedan velar por el bienestar de los habitantes tiene como resultado migraciones masivas, 10 millones de personas apátridas en el mundo y más de 1000 millones de personas invisibles puesto que legalmente no están registradas. Para gran parte de la población mundial, el acceso a la justicia no es equitativo y la corrupción y las amenazas por grupos al margen de la ley y de crimen organizado son constantes en la vida diaria. Para realmente lograr avanzar hacia un futuro sostenible donde no dejemos a nadie atrás, debemos construir un mundo pacífico y justo donde las instituciones cumplan con sus funciones y velen por el bienestar de la población.
					
					h2 Video ODS 16 | Paz, justicia e instituciones sólidas
					
					+modulo-video('https://www.youtube.com/embed/b4BE54p2TPM')
					
					div.recursos
						h3 Ver recursos: 
						ol
							li
								a(href='https://www.undp.org/content/undp/es/home/sustainable-development-goals/goal-16-peace-justice-and-strong-institutions.html' target='_blank') https://www.undp.org/content/undp/es/home/sustainable-development-goals/goal-16-peace-justice-and-strong-institutions.html
							li
								a(href='https://www.un.org/sustainabledevelopment/es/peace-justice/' target='_blank') https://www.un.org/sustainabledevelopment/es/peace-justice/
						
				
					//- Material modulo
					//- +material-modulo('material-mod-1')
					
	//- footer section			
	+footer
					
				
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			